<p id="notice"><%= notice %></p>

<p>
  <strong>Uui:</strong>
  <%= @sample.uui %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sample.name %>
</p>

<p>
  <strong>Outcrop uuid:</strong>
  <%= @sample.outcrop_uuid %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
