<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @structure.uuid %>
</p>

<p>
  <strong>Description:</strong>
  <%= @structure.description %>
</p>

<p>
  <strong>Dip:</strong>
  <%= @structure.dip %>
</p>

<p>
  <strong>Dip direction:</strong>
  <%= @structure.dip_direction %>
</p>

<p>
  <strong>Name:</strong>
  <%= @structure.name %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @structure.phase %>
</p>

<p>
  <strong>Type:</strong>
  <%= @structure.type %>
</p>

<p>
  <strong>Outcrop uuid:</strong>
  <%= @structure.outcrop_uuid %>
</p>

<%= link_to 'Edit', edit_structure_path(@structure) %> |
<%= link_to 'Back', structures_path %>
