<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @rock_photo.uuid %>
</p>

<p>
  <strong>Base64image:</strong>
  <%= @rock_photo.base64image %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @rock_photo.filename %>
</p>

<p>
  <strong>Rock uuid:</strong>
  <%= @rock_photo.rock_uuid %>
</p>

<%= link_to 'Edit', edit_rock_photo_path(@rock_photo) %> |
<%= link_to 'Back', rock_photos_path %>
