<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @project.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Creator uuid:</strong>
  <%= @project.creator_uuid %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
