<%= form_for(rock) do |f| %>
  <% if rock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rock.errors.count, "error") %> prohibited this rock from being saved:</h2>

      <ul>
      <% rock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid %>
    <%= f.text_field :uuid %>
  </div>

  <div class="field">
    <%= f.label :composition %>
    <%= f.text_field :composition %>
  </div>

  <div class="field">
    <%= f.label :degree %>
    <%= f.text_field :degree %>
  </div>

  <div class="field">
    <%= f.label :mineralogy %>
    <%= f.text_field :mineralogy %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :nomenclature %>
    <%= f.text_field :nomenclature %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :texture %>
    <%= f.text_field :texture %>
  </div>

  <div class="field">
    <%= f.label :trama %>
    <%= f.text_field :trama %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :outcrop_uuid %>
    <%= f.text_field :outcrop_uuid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
