<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @rock.uuid %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @rock.composition %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @rock.degree %>
</p>

<p>
  <strong>Mineralogy:</strong>
  <%= @rock.mineralogy %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rock.name %>
</p>

<p>
  <strong>Nomenclature:</strong>
  <%= @rock.nomenclature %>
</p>

<p>
  <strong>Size:</strong>
  <%= @rock.size %>
</p>

<p>
  <strong>Texture:</strong>
  <%= @rock.texture %>
</p>

<p>
  <strong>Trama:</strong>
  <%= @rock.trama %>
</p>

<p>
  <strong>Type:</strong>
  <%= @rock.type %>
</p>

<p>
  <strong>Outcrop uuid:</strong>
  <%= @rock.outcrop_uuid %>
</p>

<%= link_to 'Edit', edit_rock_path(@rock) %> |
<%= link_to 'Back', rocks_path %>
