<p id="notice"><%= notice %></p>

<h1>Stages</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>City</th>
      <th>Initial date</th>
      <th>Name</th>
      <th>Uf</th>
      <th>Project uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= stage.uuid %></td>
        <td><%= stage.city %></td>
        <td><%= stage.initial_date %></td>
        <td><%= stage.name %></td>
        <td><%= stage.uf %></td>
        <td><%= stage.project_uuid %></td>
        <td><%= link_to 'Show', stage %></td>
        <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
        <td><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %>
