<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @stage.uuid %>
</p>

<p>
  <strong>City:</strong>
  <%= @stage.city %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @stage.initial_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stage.name %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @stage.uf %>
</p>

<p>
  <strong>Project uuid:</strong>
  <%= @stage.project_uuid %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
