<p id="notice"><%= notice %></p>

<h1>Structure Photos</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Base64image</th>
      <th>Filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structure_photos.each do |structure_photo| %>
      <tr>
        <td><%= structure_photo.uuid %></td>
        <td><%= structure_photo.base64image %></td>
        <td><%= structure_photo.filename %></td>
        <td><%= link_to 'Show', structure_photo %></td>
        <td><%= link_to 'Edit', edit_structure_photo_path(structure_photo) %></td>
        <td><%= link_to 'Destroy', structure_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Structure Photo', new_structure_photo_path %>
