<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @structure_photo.uuid %>
</p>

<p>
  <strong>Base64image:</strong>
  <%= @structure_photo.base64image %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @structure_photo.filename %>
</p>

<%= link_to 'Edit', edit_structure_photo_path(@structure_photo) %> |
<%= link_to 'Back', structure_photos_path %>
